@tailwind base;
@tailwind components;
@tailwind utilities;

/* pequenas customizações que você já tinha no index.html */
:root {
  --bg: #09090b;
  --fg: #f4f4f5;
}
html, body, #root { height: 100%; }
body { background-color: var(--bg); color: var(--fg); }
